PracticaFinal/PinguAR/.venv/
PracticaFinal/PinguAR/Aplicacion/.venv/
PracticaFinal/PinguAR/.venv.tar.gz
PracticaFinal/PinguAR.tar.gz
PracticaFinal/PinguAR/Aplicacion/.venv/lib/python3.11/site-packages/tensorflow/libtensorflow_framework.so.2
PracticaFinal/PinguAR/Aplicacion/.venv/lib/python3.11/site-packages/tensorflow/libtensorflow_cc.so.2
